In [63]:
# Dependecies 
# import dependencies and modules
from matplotlib import pyplot as plt
import numpy as np
import scipy.stats as stats
import pandas as pd
import time
import requests
from pprint import pprint

In [64]:
# Import happiness data from csv
happy_2015 = pd.read_csv('data/happy_data/2015.csv')
happy_2016 = pd.read_csv('data/happy_data/2016.csv')
happy_2017 = pd.read_csv('data/happy_data/2017.csv')
happy_2018 = pd.read_csv('data/happy_data/2018.csv')
happy_2019 = pd.read_csv('data/happy_data/2019.csv')

# Rename country or regioin column into country 
happy_2015 = happy_2015.rename(columns={'Country': 'country'})
happy_2016 = happy_2016.rename(columns={'Country': 'country'})
happy_2016.dtypes

country                           object
Region                            object
Happiness Rank                     int64
Happiness Score                  float64
Lower Confidence Interval        float64
Upper Confidence Interval        float64
Economy (GDP per Capita)         float64
Family                           float64
Health (Life Expectancy)         float64
Freedom                          float64
Trust (Government Corruption)    float64
Generosity                       float64
Dystopia Residual                float64
dtype: object

In [65]:
# Import suicide data from csv
full_sui_data = pd.read_csv('data/suicide_data.csv')

# Create two new dataframes to hold the 2015 and 2016 data
sui_2015 = full_sui_data[full_sui_data['year'] == 2015]
sui_2016 =  full_sui_data[full_sui_data['year'] == 2016]

# Join the suicide data with the happiness data
sui_2016

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
1248,Armenia,2016,male,75+ years,12,61956,19.37,Armenia2016,NaN,"10,546,135,160",3788,Silent
1249,Armenia,2016,male,55-74 years,16,237813,6.73,Armenia2016,NaN,"10,546,135,160",3788,Boomers
1250,Armenia,2016,male,35-54 years,16,350633,4.56,Armenia2016,NaN,"10,546,135,160",3788,Generation X
1251,Armenia,2016,male,15-24 years,5,202220,2.47,Armenia2016,NaN,"10,546,135,160",3788,Millenials
1252,Armenia,2016,female,75+ years,2,102414,1.95,Armenia2016,NaN,"10,546,135,160",3788,Silent
...,...,...,...,...,...,...,...,...,...,...,...,...
25307,Thailand,2016,female,75+ years,69,1589015,4.34,Thailand2016,NaN,"411,755,164,833",6713,Silent
25308,Thailand,2016,female,55-74 years,222,6049756,3.67,Thailand2016,NaN,"411,755,164,833",6713,Boomers
25309,Thailand,2016,female,35-54 years,375,10629684,3.53,Thailand2016,NaN,"411,755,164,833",6713,Generation X
25310,Thailand,2016,female,25-34 years,116,4702656,2.47,Thailand2016,NaN,"411,755,164,833",6713,Millenials
25311,Thailand,2016,female,15-24 years,60,4525574,1.33,Thailand2016,NaN,"411,755,164,833",6713,Millenials

In [66]:
happy_2016['year'] = 2016
happy_2016
happy_2015['year'] = 2015
happy_2016

,country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,year
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939,2016
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463,2016
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137,2016
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465,2016
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,Benin,Sub-Saharan Africa,153,3.484,3.404,3.564,0.39499,0.10419,0.21028,0.39747,0.06681,0.20180,2.10812,2016
153,Afghanistan,Southern Asia,154,3.360,3.288,3.432,0.38227,0.11037,0.17344,0.16430,0.07112,0.31268,2.14558,2016
154,Togo,Sub-Saharan Africa,155,3.303,3.192,3.414,0.28123,0.00000,0.24811,0.34678,0.11587,0.17517,2.13540,2016
155,Syria,Middle East and Northern Africa,156,3.069,2.936,3.202,0.74719,0.14866,0.62994,0.06912,0.17233,0.48397,0.81789,2016
156,Burundi,Sub-Saharan Africa,157,2.905,2.732,3.078,0.06831,0.23442,0.15747,0.04320,0.09419,0.20290,2.10404,2016

In [67]:
# Join the the suicide data and happiness data
data_2015 = sui_2015.merge(happy_2015, on='country')
data_2016 = sui_2016.merge(happy_2016, on='country')

In [68]:
# for col in data_2016.columns:
#     print(col)
sui_2015

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
576,Antigua and Barbuda,2015,female,55-74 years,1,6403,15.62,Antigua and Barbuda2015,NaN,"1,364,863,037",14853,Boomers
577,Antigua and Barbuda,2015,female,15-24 years,0,8561,0.00,Antigua and Barbuda2015,NaN,"1,364,863,037",14853,Millenials
578,Antigua and Barbuda,2015,female,25-34 years,0,7740,0.00,Antigua and Barbuda2015,NaN,"1,364,863,037",14853,Millenials
579,Antigua and Barbuda,2015,female,35-54 years,0,15323,0.00,Antigua and Barbuda2015,NaN,"1,364,863,037",14853,Generation X
580,Antigua and Barbuda,2015,female,5-14 years,0,8239,0.00,Antigua and Barbuda2015,NaN,"1,364,863,037",14853,Generation Z
...,...,...,...,...,...,...,...,...,...,...,...,...
27551,Uruguay,2015,female,25-34 years,23,232133,9.91,Uruguay2015,NaN,"53,274,304,222",16696,Millenials
27552,Uruguay,2015,female,35-54 years,38,440475,8.63,Uruguay2015,NaN,"53,274,304,222",16696,Generation X
27553,Uruguay,2015,female,15-24 years,17,255067,6.66,Uruguay2015,NaN,"53,274,304,222",16696,Millenials
27554,Uruguay,2015,male,5-14 years,3,252509,1.19,Uruguay2015,NaN,"53,274,304,222",16696,Generation Z
27555,Uruguay,2015,female,5-14 years,2,241598,0.83,Uruguay2015,NaN,"53,274,304,222",16696,Generation Z

In [69]:
# Drop useless columns
sui_2015 = sui_2015.drop(columns=['country-year','HDI for year'])
sui_2016 = sui_2016.drop(columns=['country-year','HDI for year'])

In [70]:
# Groupby country in order to gather data

# Concat the suicide data into one suicide dataframe
sui_data = pd.concat([sui_2015, sui_2016])
sui_data

# Concat the happiness data into one happiness dataframe
happy_data = pd.concat([happy_2015, happy_2016])

best_sui_data = sui_data.groupby('country').mean()
best_sui_data = best_sui_data.reset_index()
best_sui_data

,country,year,suicides_no,population,suicides/100k pop,gdp_per_capita ($)
0,Antigua and Barbuda,2015.000000,0.083333,7.657417e+03,1.301667,14853.000000
1,Argentina,2015.000000,256.083333,3.308302e+06,9.344167,14981.000000
2,Armenia,2015.454545,6.409091,2.361531e+05,3.901818,3780.909091
3,Australia,2015.000000,252.250000,1.853399e+06,12.848333,60656.000000
4,Austria,2015.454545,111.454545,7.138189e+05,17.175000,46707.636364
...,...,...,...,...,...,...
58,Turkmenistan,2015.000000,11.083333,4.072095e+05,2.373333,7326.000000
59,Ukraine,2015.000000,631.166667,3.362120e+06,20.393333,2256.000000
60,United Kingdom,2015.000000,409.166667,5.090245e+06,7.228333,47240.000000
61,United States,2015.000000,3682.416667,2.500654e+07,14.617500,60387.000000
62,Uruguay,2015.000000,52.500000,2.658996e+05,22.501667,16696.000000

In [71]:
for col in data_2015.columns:
    print(col)

country
year_x
sex
age
suicides_no
population
suicides/100k pop
country-year
HDI for year
gdp_for_year ($)
gdp_per_capita ($)
generation
Region
Happiness Rank
Happiness Score
Standard Error
Economy (GDP per Capita)
Family
Health (Life Expectancy)
Freedom
Trust (Government Corruption)
Generosity
Dystopia Residual
year_y

In [72]:
# Concat the 2015 and the 2016 data
full_data = pd.concat([data_2015, data_2016])
full_data.dtypes

country                           object
year_x                             int64
sex                               object
age                               object
suicides_no                        int64
population                         int64
suicides/100k pop                float64
country-year                      object
HDI for year                     float64
gdp_for_year ($)                  object
gdp_per_capita ($)                 int64
generation                        object
Region                            object
Happiness Rank                     int64
Happiness Score                  float64
Standard Error                   float64
Economy (GDP per Capita)         float64
Family                           float64
Health (Life Expectancy)         float64
Freedom                          float64
Trust (Government Corruption)    float64
Generosity                       float64
Dystopia Residual                float64
year_y                             int64
Lower Confidence Interval        float64
Upper Confidence Interval        float64
dtype: object

In [73]:
full_data

,country,year_x,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),...,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,year_y,Lower Confidence Interval,Upper Confidence Interval
0,Argentina,2015,male,75+ years,245,712691,34.38,Argentina2015,NaN,"594,749,285,413",...,1.05351,1.24823,0.78723,0.44974,0.08484,0.11451,2.8360,2015,NaN,NaN
1,Argentina,2015,male,15-24 years,656,3500580,18.74,Argentina2015,NaN,"594,749,285,413",...,1.05351,1.24823,0.78723,0.44974,0.08484,0.11451,2.8360,2015,NaN,NaN
2,Argentina,2015,male,55-74 years,431,3011963,14.31,Argentina2015,NaN,"594,749,285,413",...,1.05351,1.24823,0.78723,0.44974,0.08484,0.11451,2.8360,2015,NaN,NaN
3,Argentina,2015,male,25-34 years,465,3289927,14.13,Argentina2015,NaN,"594,749,285,413",...,1.05351,1.24823,0.78723,0.44974,0.08484,0.11451,2.8360,2015,NaN,NaN
4,Argentina,2015,male,35-54 years,633,5166179,12.25,Argentina2015,NaN,"594,749,285,413",...,1.05351,1.24823,0.78723,0.44974,0.08484,0.11451,2.8360,2015,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,Thailand,2016,female,75+ years,69,1589015,4.34,Thailand2016,NaN,"411,755,164,833",...,1.08930,1.04477,0.64915,0.49553,0.02833,0.58696,2.5796,2016,6.396,6.552
146,Thailand,2016,female,55-74 years,222,6049756,3.67,Thailand2016,NaN,"411,755,164,833",...,1.08930,1.04477,0.64915,0.49553,0.02833,0.58696,2.5796,2016,6.396,6.552
147,Thailand,2016,female,35-54 years,375,10629684,3.53,Thailand2016,NaN,"411,755,164,833",...,1.08930,1.04477,0.64915,0.49553,0.02833,0.58696,2.5796,2016,6.396,6.552
148,Thailand,2016,female,25-34 years,116,4702656,2.47,Thailand2016,NaN,"411,755,164,833",...,1.08930,1.04477,0.64915,0.49553,0.02833,0.58696,2.5796,2016,6.396,6.552
149,Thailand,2016,female,15-24 years,60,4525574,1.33,Thailand2016,NaN,"411,755,164,833",...,1.08930,1.04477,0.64915,0.49553,0.02833,0.58696,2.5796,2016,6.396,6.552

In [74]:
for col in full_data.columns:
    print(col)

country
year_x
sex
age
suicides_no
population
suicides/100k pop
country-year
HDI for year
gdp_for_year ($)
gdp_per_capita ($)
generation
Region
Happiness Rank
Happiness Score
Standard Error
Economy (GDP per Capita)
Family
Health (Life Expectancy)
Freedom
Trust (Government Corruption)
Generosity
Dystopia Residual
year_y
Lower Confidence Interval
Upper Confidence Interval

In [75]:
# Remove all the unnecessary columns from the full data set
cleaned_data = full_data.drop(columns=['year_y','Economy (GDP per Capita)','HDI for year','country-year',\
                                       'Lower Confidence Interval','Upper Confidence Interval','Standard Error'])

In [76]:
for col in cleaned_data.columns:
    print(col)

country
year_x
sex
age
suicides_no
population
suicides/100k pop
gdp_for_year ($)
gdp_per_capita ($)
generation
Region
Happiness Rank
Happiness Score
Family
Health (Life Expectancy)
Freedom
Trust (Government Corruption)
Generosity
Dystopia Residual

In [77]:
# Rename the columns to something better
cleaned_data = cleaned_data.rename(columns={'year_x': 'year', 'suicides/100k pop': 'suicides_per_100k','gdp_for_year ($)':'gdp',\
                                           'gdp_per_capita ($)':'gdp_per_capita', 'Happiness Rank': 'happiness_rank',
                                           'Happiness Score':'happiness_score','Family':'family','Health (Life Expectancy)':'life_expectancy',\
                                           'Freedom':'freedom', 'Trust (Government Corruption)':'govt_corruption','Generosity':'generosity',\
                                           'Dystopia Residual':'dystopia_residual'})

In [78]:
cleaned_data

,country,year,sex,age,suicides_no,population,suicides_per_100k,gdp,gdp_per_capita,generation,Region,happiness_rank,happiness_score,family,life_expectancy,freedom,govt_corruption,generosity,dystopia_residual
0,Argentina,2015,male,75+ years,245,712691,34.38,"594,749,285,413",14981,Silent,Latin America and Caribbean,30,6.574,1.24823,0.78723,0.44974,0.08484,0.11451,2.8360
1,Argentina,2015,male,15-24 years,656,3500580,18.74,"594,749,285,413",14981,Millenials,Latin America and Caribbean,30,6.574,1.24823,0.78723,0.44974,0.08484,0.11451,2.8360
2,Argentina,2015,male,55-74 years,431,3011963,14.31,"594,749,285,413",14981,Boomers,Latin America and Caribbean,30,6.574,1.24823,0.78723,0.44974,0.08484,0.11451,2.8360
3,Argentina,2015,male,25-34 years,465,3289927,14.13,"594,749,285,413",14981,Millenials,Latin America and Caribbean,30,6.574,1.24823,0.78723,0.44974,0.08484,0.11451,2.8360
4,Argentina,2015,male,35-54 years,633,5166179,12.25,"594,749,285,413",14981,Generation X,Latin America and Caribbean,30,6.574,1.24823,0.78723,0.44974,0.08484,0.11451,2.8360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,Thailand,2016,female,75+ years,69,1589015,4.34,"411,755,164,833",6713,Silent,Southeastern Asia,33,6.474,1.04477,0.64915,0.49553,0.02833,0.58696,2.5796
146,Thailand,2016,female,55-74 years,222,6049756,3.67,"411,755,164,833",6713,Boomers,Southeastern Asia,33,6.474,1.04477,0.64915,0.49553,0.02833,0.58696,2.5796
147,Thailand,2016,female,35-54 years,375,10629684,3.53,"411,755,164,833",6713,Generation X,Southeastern Asia,33,6.474,1.04477,0.64915,0.49553,0.02833,0.58696,2.5796
148,Thailand,2016,female,25-34 years,116,4702656,2.47,"411,755,164,833",6713,Millenials,Southeastern Asia,33,6.474,1.04477,0.64915,0.49553,0.02833,0.58696,2.5796
149,Thailand,2016,female,15-24 years,60,4525574,1.33,"411,755,164,833",6713,Millenials,Southeastern Asia,33,6.474,1.04477,0.64915,0.49553,0.02833,0.58696,2.5796

In [79]:
for col in cleaned_data.columns:
    print(col)

country
year
sex
age
suicides_no
population
suicides_per_100k
gdp
gdp_per_capita
generation
Region
happiness_rank
happiness_score
family
life_expectancy
freedom
govt_corruption
generosity
dystopia_residual

In [80]:
# Export full data file as csv to then be moved to MongoDB
cleaned_data.to_csv(r'C:\Users\lakew\Documents\DuCamp\ETL-project\Clean_data\cleaned_data.csv', index=False, header=True)