In [1]:
# Dependecies 
# import dependencies and modules
from matplotlib import pyplot as plt
import numpy as np
import scipy.stats as stats
import pandas as pd
import time
import requests
from pprint import pprint

In [45]:
# Import happiness data from csv
happy_2015 = pd.read_csv('data/happy_data/2015.csv')
happy_2016 = pd.read_csv('data/happy_data/2016.csv')
happy_2017 = pd.read_csv('data/happy_data/2017.csv')
happy_2018 = pd.read_csv('data/happy_data/2018.csv')
happy_2019 = pd.read_csv('data/happy_data/2019.csv')

# Rename country or regioin column into country 
happy_2015 = happy_2015.rename(columns={'Country': 'country'})
happy_2016 = happy_2016.rename(columns={'Country': 'country'})
happy_2016.dtypes

country                           object
Region                            object
Happiness Rank                     int64
Happiness Score                  float64
Lower Confidence Interval        float64
Upper Confidence Interval        float64
Economy (GDP per Capita)         float64
Family                           float64
Health (Life Expectancy)         float64
Freedom                          float64
Trust (Government Corruption)    float64
Generosity                       float64
Dystopia Residual                float64
dtype: object

In [56]:
# Import suicide data from csv
full_sui_data = pd.read_csv('data/suicide_data.csv')

# Create two new dataframes to hold the 2015 and 2016 data
sui_2015 = full_sui_data[full_sui_data['year'] == 2015]
sui_2016 =  recent_sui_data[recent_sui_data['year'] == 2016]

# Join the suicide data with the happiness data
sui_2016

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
1248,Armenia,2016,male,75+ years,12,61956,19.37,Armenia2016,NaN,"10,546,135,160",3788,Silent
1249,Armenia,2016,male,55-74 years,16,237813,6.73,Armenia2016,NaN,"10,546,135,160",3788,Boomers
1250,Armenia,2016,male,35-54 years,16,350633,4.56,Armenia2016,NaN,"10,546,135,160",3788,Generation X
1251,Armenia,2016,male,15-24 years,5,202220,2.47,Armenia2016,NaN,"10,546,135,160",3788,Millenials
1252,Armenia,2016,female,75+ years,2,102414,1.95,Armenia2016,NaN,"10,546,135,160",3788,Silent
...,...,...,...,...,...,...,...,...,...,...,...,...
25307,Thailand,2016,female,75+ years,69,1589015,4.34,Thailand2016,NaN,"411,755,164,833",6713,Silent
25308,Thailand,2016,female,55-74 years,222,6049756,3.67,Thailand2016,NaN,"411,755,164,833",6713,Boomers
25309,Thailand,2016,female,35-54 years,375,10629684,3.53,Thailand2016,NaN,"411,755,164,833",6713,Generation X
25310,Thailand,2016,female,25-34 years,116,4702656,2.47,Thailand2016,NaN,"411,755,164,833",6713,Millenials
25311,Thailand,2016,female,15-24 years,60,4525574,1.33,Thailand2016,NaN,"411,755,164,833",6713,Millenials

In [57]:
# Join the the suicide data and happiness data
data_2015 = sui_2015.merge(happy_2015, on='country')
data_2016 = sui_2016.merge(happy_2016, on='country')
data_2015

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),...,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Argentina,2015,male,75+ years,245,712691,34.38,Argentina2015,NaN,"594,749,285,413",...,30,6.574,0.04612,1.05351,1.24823,0.78723,0.44974,0.08484,0.11451,2.83600
1,Argentina,2015,male,15-24 years,656,3500580,18.74,Argentina2015,NaN,"594,749,285,413",...,30,6.574,0.04612,1.05351,1.24823,0.78723,0.44974,0.08484,0.11451,2.83600
2,Argentina,2015,male,55-74 years,431,3011963,14.31,Argentina2015,NaN,"594,749,285,413",...,30,6.574,0.04612,1.05351,1.24823,0.78723,0.44974,0.08484,0.11451,2.83600
3,Argentina,2015,male,25-34 years,465,3289927,14.13,Argentina2015,NaN,"594,749,285,413",...,30,6.574,0.04612,1.05351,1.24823,0.78723,0.44974,0.08484,0.11451,2.83600
4,Argentina,2015,male,35-54 years,633,5166179,12.25,Argentina2015,NaN,"594,749,285,413",...,30,6.574,0.04612,1.05351,1.24823,0.78723,0.44974,0.08484,0.11451,2.83600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
631,Uruguay,2015,female,25-34 years,23,232133,9.91,Uruguay2015,NaN,"53,274,304,222",...,32,6.485,0.04539,1.06166,1.20890,0.81160,0.60362,0.24558,0.23240,2.32142
632,Uruguay,2015,female,35-54 years,38,440475,8.63,Uruguay2015,NaN,"53,274,304,222",...,32,6.485,0.04539,1.06166,1.20890,0.81160,0.60362,0.24558,0.23240,2.32142
633,Uruguay,2015,female,15-24 years,17,255067,6.66,Uruguay2015,NaN,"53,274,304,222",...,32,6.485,0.04539,1.06166,1.20890,0.81160,0.60362,0.24558,0.23240,2.32142
634,Uruguay,2015,male,5-14 years,3,252509,1.19,Uruguay2015,NaN,"53,274,304,222",...,32,6.485,0.04539,1.06166,1.20890,0.81160,0.60362,0.24558,0.23240,2.32142
635,Uruguay,2015,female,5-14 years,2,241598,0.83,Uruguay2015,NaN,"53,274,304,222",...,32,6.485,0.04539,1.06166,1.20890,0.81160,0.60362,0.24558,0.23240,2.32142